<h1>Eviction Timeline</h1>
<p>Case: {{case_id}} | Jurisdiction: {{jurisdiction}}</p>
<p>Estimated timeline based on provided grounds.</p>
<ul>
  <li>Notice served date: {{notice_date}}</li>
  <li>Notice expiry date: {{notice_expiry_date}}</li>
  <li>Hearing preparation and attendance</li>
</ul>
